services:
  database:
      image: postgres:17
      restart: always
      container_name: PostgreDatabase
      ports:
        - 5432:5432
      volumes:
        - ./apps/postgres:/var/lib/postgresql/data
      environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
        - POSTGRES_DB=sheki_soccer
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "80:80" 
    volumes:
      - ./apps/pgadmin:/var/lib/pgadmin